<!-- Banner -->
<section class="banner {{ .style }}">
  <div class="content">
      {{ with .title }}<h1>{{ . }}</h1>{{ end }}
      {{ with .subtitle }}<p class="major">{{ . | safeHTML }}</p>{{ end }}
      {{ with .content }}<p>{{ . | safeHTML }}</p>{{ end }}
      <ul class="icons">
        {{ with .github }}<li><a target="_blank" href="{{.}}" class="icon brands style2 fa-github"><span class="label">Github</span></a></li>{{end}}
        {{ with .gitlab }}<li><a target="_blank" href="{{.}}" class="icon brands style2 fa-gitlab"><span class="label">Github</span></a></li>{{end}}
        {{ with .twitter }}<li><a target="_blank" href="{{.}}" class="icon brands style2 fa-twitter"><span class="label">Twitter</span></a></li>{{end}}
        {{ with .linkedin }}<li><a target="_blank" href="{{.}}" class="icon brands style2 fa-linkedin"><span class="label">LinkedIn</span></a></li>{{end}}
        {{ with .email }}<li><a target="_blank" href="mailto:{{.}}" class="fav icon style2 fa-envelope"><span class="label">Email</span></a></li>{{end}}
      </ul>
  </div>
  {{ with .image }}<div class="image">
      <img src="{{.}}" alt="Banner" />
  </div>{{end}}
</section>