			<!-- Additional Elements -->
      <section class="wrapper style1 align-center">
        <div class="inner">
          <h2>{{ .title }}</h2>
          <p>{{ .description | safeHTML }}</p>
          <div class="index align-left">
            <!-- Definition List -->
            {{ range .sublist }}
              {{ partial "sublist" . }}
            {{ end }}
          </div>
      </section>
