<section>
  <header>
    <h3>{{ .subtitle }}</h3>
  </header>
  <div class="content">

    <dl>
      {{ range .items }}
        {{ partial "list-item" . }}
      {{ end }}
    </dl>

  </div>
</section>